@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}
body{
    background-color: #eaeaea;
}
            /* navbar */
#navbarNav{
    font-size: larger;
}
.navbar-custom-height {
    height: 100px;
}
/* .nav-item{
    padding: 0px 70px;
} */
/* #navbar-logo{
    padding: 0px 300px;
} */

            /* formulario */
#form{
    /* height: 100vh;  */
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-size: large;
}
#border{
    padding: 40px 90px; 
    border-color: #0e0e0e;
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.208); 
    border-radius: 0px; 
    background-color: #f7f7f7; 
    border-radius: 5px;
}
form{
    color: rgb(0, 0, 0);
}
.transparent-input{
    background-color: transparent !important;
    border: none !important;
    border-bottom: solid #000000 !important;
    box-shadow: none !important;
    border-radius: 0; 
}
.text-start{
    padding: 25px 0px;
}
.form-group{
    padding: 20px 0px;
}
            /* boton */
.button-container{
    margin: 10px 0px ;
}
.btn-outline-secondary{
    color: #000000;
    border: 2px solid black;
}
.btn-outline-secondary:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
    border: 2px solid rgb(255, 255, 255);
}
